name: sample-workflow
on: [push]
jobs: 
  explore-first-github-workflow:
    runs-on: ubuntu-latest 
    steps: 
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!!" 
      
